body{
    font-family: "Diphylleia", serif;
}
/* 컨테이너 대분류 */
.container{
    width: 1500px;
    height: 2000px;
    background-color: beige;
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* container1,3 */
.containertop{
    display:flex;
}
/* container2,4 */
.containerbottom{
    display:flex;
}
/* container5,6 */
.containerbottom2{
    display:flex;
}
.container1{
    border-top-left-radius: 30px;
    width:500px;
    height:450px;
    background-color: black;
    color:white;
    padding-left:50px;
    padding-right:50px;
}
.container2{
    border-top-right-radius: 30px;
    width: 500px;
    height:450px;
    background-color: rgb(221, 215, 215);
    font-family: sans-serif;
    position: relative;
    padding-left:50px;
    padding-right:50px;
}
.container3{
    width: 500px;
    height:300px;
    background-color: black;
    color:white;
    padding-left:50px;
    padding-right:50px;
    position: relative;
}
.container4{
    width: 500px;
    height:300px;
    background-color: rgb(238, 182, 118);
    position: relative;
    padding-left:50px;
    padding-right:50px;
}
.container5{
    border-bottom-left-radius: 30px;
    width:500px;
    height:800px;
    background-color: rgb(221, 215, 215);
    padding-left:50px;
    padding-right:50px;

}
.container6{
    border-bottom-right-radius: 30px;
    width:500px;
    height:800px;
    background-color: rgb(221, 215, 215);
    padding-left:50px;
    padding-right:50px;
}
.text1{
    font-size:30px;
    font-weight:bold;
}
.text2{
    font-size:25px;
    font-weight:bold;
}
.text3{
    text-align: center;
}
.margin{
    margin-top:50px;
}
/* img 크기 조절 */
.img{
    width:100px;
    height:100px;
    border-radius:50%;
}
.box1{
    margin-top:  10px;
}
.box2{
    margin-top: 30px;
}
.box3{
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
}
.box4{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.box5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box6{
    margin-top:10px;
}
.box7{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.box8{
    text-align: right;
}
.box9{
    display:flex;
    justify-content: space-between;
}
.box10{
    position:absolute;
    display:flex;
    flex-direction: row;
    align-content: center;
    right:10px;
    bottom:100px;
}
.box11{
    margin-top:40px;
    margin-left:10px;
    margin-right:10px;
    font-size:large;
    font-weight: bold;
}
.box12{
    margin-top:30px;
    width:300px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(48, 47, 47);
    color:white;
}
.box13{
    margin-top:5px;
    margin-left:5px;
    font-size: 13px;
}
/* container5 제목 */
.box14{
    margin-top:10px;
    font-size:25px;
    font-weight: bolder;
}
/* container6 제목 */
.box15{
    margin-top:130px;
    font-size:25px;
    font-weight: bolder;
}
.box16{
    margin-top:20px;
    display:flex;
    flex-direction: row;
}
.box17{
    margin-left:30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box18{
    margin-left:30px;
    margin-top: 15px;
    display:flex;
    align-items: center;
}
.box19{
    margin-left:30px;
    flex-wrap:wrap;
}
.box20{
    margin-top:60px;
    font-size:25px;
    font-weight: bolder;

}
.box21{
    display:flex;
    flex-direction: column;
}
.box22{
    width:250px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20px;
    margin-left:8px;
}
.box24{
    display:flex;
    flex-direction: column;
}
.box25{
    display:flex;
    flex-direction:row;
}
.box26{
    display: flex;
    flex-direction: row;
}
/* 이미지 파일 우측 정렬 */
.img1{
    text-align: right;
}
/* 이미지 파일 위치 조정 */
.img2{
    position:absolute;
    margin-left:80px;
    z-index:1;
}
.img3{
    position:absolute;
    margin-left:160px;
    z-index:2;
}
.img4{
    position:absolute;
}
.img5{
    margin-left:70px;
}
.img6{
    width:270px;
    height:220px;
    border-radius: 50%;
    position:absolute;
    bottom:-10px;
}
.img7{
    position:absolute;
    right:20px;
    bottom:50px;
}
.img8{
    position:absolute;
    right:20px;
    bottom:130px;
}
.img9{
    position:absolute;
    right:20px;
    bottom:200px;
}
.img10{
    width:150px;
    height:150px;
    border-radius:50%;
}
.img11{
    width:300px;
    height:300px;
    position:absolute;
    right:200px;
}
.imgbox2{
    margin-left:10px;
}